<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionName="0.1"
      android:installLocation="auto"
      package="com.danielstiner.vibrates"
      android:versionCode="5"
      >
<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
<uses-permission android:name="android.permission.RECEIVE_MMS"></uses-permission>
<uses-permission android:name="android.permission.BATTERY_STATS"></uses-permission>
<uses-permission android:name="android.permission.DEVICE_POWER"></uses-permission>
<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
<uses-permission android:name="android.permission.READ_CALENDAR"></uses-permission>
<uses-sdk android:targetSdkVersion="10" android:minSdkVersion="7"></uses-sdk>
<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
<uses-permission android:name="com.google.android.permission.RECEIVE_DATA_MESSAGE"></uses-permission>
<permission android:name="com.danielstiner.vibrates.VIBRATE"></permission>
<uses-permission android:name="com.google.android.gm.permission.READ_GMAIL"></uses-permission>
<uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH"></uses-permission>
<uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
<uses-permission android:name="com.google.android.providers.gmail.permission.READ_GMAIL"></uses-permission>
<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"></uses-permission>


    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="Vibrates">
        <activity android:label="@string/app_name" android:name="views.ContactList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="IntentReciever"><intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"></action>
                <action android:name="android.bluetooth.headset.action.AUDIO_STATE_CHANGED"></action>
                <action android:name="android.net.wifi.supplicant.STATE_CHANGE"></action>
                <action android:name="android.media.VIBRATE_SETTING_CHANGED"></action>
                <action android:name="android.intent.action.HEADSET_PLUG"></action>
                <action android:name="android.intent.action.DATA_SMS_RECEIVED"></action>
                <action android:name="android.intent.action.BATTERY_LOW"></action>
                <action android:name="android.intent.action.PHONE_STATE"></action>
            </intent-filter>
        <intent-filter android:label="Google Voice Stuff">
            <action android:name="android.intent.action.PROVIDER_CHANGED"></action>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
        </intent-filter>
        <intent-filter android:label="Gmail stuff">
                <action android:name="android.intent.action.PROVIDER_CHANGED"
                    android:priority="-10">
                </action>
                <data android:scheme="content" android:host="gmail-ls"
                    android:pathPattern="/unread/.*">
                </data>
            </intent-filter>
            <intent-filter android:label="Gmail stuff2">
                <action android:name="android.intent.action.PROVIDER_CHANGED" android:priority="-10">
                </action>
                <data android:mimeType="*/*" android:scheme="content"
                    android:host="gmail-ls" android:path="/unread/^i">
                </data>
            </intent-filter>
		</receiver>
        
        <service android:name="AccessibilityListener" android:description="@string/accessiblity_listener_desc">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"></action>
            </intent-filter>
        </service>
        <activity android:name="views.VibratePatternEdit"></activity>
        <service android:name="VibratrService">
            <intent-filter>
                <action android:name="com.danielstiner.vibrates.VIBRATE"></action>
            </intent-filter>
        </service>

    </application>
</manifest>